
    a.wc-square-connect-button {
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
        background-color: #2996cc;
        padding: 7px 10px;
        /* padding: 10px 40px; */
        height: 30px;
        color: #ffffff;
        box-shadow: 3px 4px 15px 2px #999999;
        font-weight: 700;
        font-family: "Square Market",Helvetica,Arial,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    a.wc-square-connect-button span {
        vertical-align: top;
        display: inline-block;
        padding-top: 7px;
        padding-left: 10px;
		color:#000;
    }